{% extends 'base.html' %}
{% block content %}

<h1>Poodle Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ poodle.name }}</span>
    <p>Description: {{ poodle.description }}</p>
    {% if poodle.age > 1 %}
      <p>Age: {{ poodle.age }}</p>
    {% else %}
      <p>Age: Puppy</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'poodles_update' poodle.id %}">Edit</a>
    <a href="{% url 'poodles_delete' poodle.id %}">Delete</a>
  </div>
</div>

{% endblock %}